USE [master]
GO
/****** Object:  Database [TechHelper_DB]    Script Date: 31/05/2025 04:09:50 ******/
CREATE DATABASE [TechHelper_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechHelper_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TechHelper_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechHelper_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TechHelper_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechHelper_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechHelper_DB]
GO
/****** Object:  Table [dbo].[Computadoras]    Script Date: 31/05/2025 04:09:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computadoras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[Marca] [nvarchar](30) NOT NULL,
	[Modelo] [nvarchar](30) NOT NULL,
	[Problema] [nvarchar](300) NOT NULL,
	[Solucion] [nvarchar](max) NULL,
	[FechaTrabajo] [datetime] NOT NULL,
	[UsoIA] [bit] NULL,
	[Comentarios] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impresoras]    Script Date: 31/05/2025 04:09:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impresoras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[Marca] [nvarchar](30) NOT NULL,
	[Modelo] [nvarchar](30) NOT NULL,
	[Problema] [nvarchar](300) NOT NULL,
	[Solucion] [nvarchar](300) NULL,
	[FechaTrabajo] [datetime] NULL,
	[UsoIA] [bit] NULL,
	[Comentarios] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Computadoras] ADD  DEFAULT ((0)) FOR [UsoIA]
GO
ALTER TABLE [dbo].[Impresoras] ADD  DEFAULT ((0)) FOR [UsoIA]
GO
USE [master]
GO
